.about-bg-color {
  background-color: rgba(216, 220, 220, 0.3);
}
.about-heading {
  font-size: 35px;
  font-weight: 500;
  color: #3b6d6e;
}
.about-link {
  text-decoration: none;
}
.about-subheading {
  color: #666d77;
  font-size: 17px;
  font-weight: 500;
}
.about-middle-bg {
  background-color: #24262a;
}
.about-paragraph {
  color: #848892;
  padding: 70px 10px;
}
.about-background-color1 {
  background-color: #24262a;
}
  /* new-code */

/* banner */
.about-content-heading {
  font-size: 60px;
}
@media screen and (max-width: 768px) {
  .about-content-heading {
    font-size: 30px;
  }
}

/* content-part */
.about-content-heading1{
  font-weight: 700;
  color: #3b6d6e;
}

/* section-2 */
.aboutsection2 {
  background-color:#24262a;
  padding: 100px 0;
}
/* CSS */
.details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  color:#848892;
}
.bar {
  position: relative;
}
.bar div {
  position: relative;
  width: 0;
  height: 9px;
  border: none;
}
.skills:not(:last-child) {
  margin-bottom: 10px;
}
#html-bar {
  animation: html-fill 2s forwards;
  background-color: rgb(0, 211, 243);
}
@keyframes html-fill {
  100% {
    width: 100%;
  }
}
#css-bar {
  animation: css-fill 2s forwards;
  background-color: rgb(29, 228, 218);
}
@keyframes css-fill {
  100% {
    width: 93%;
  }
}
#javascript-bar {
  animation: js-fill 2s forwards;
  background-color: rgb(157, 88, 211);
}
@keyframes js-fill {
  100% {
    width: 86%;
  }
}
#jQuery-bar {
  animation: jQuery-fill 2s forwards;
  background-color: rgb(228, 0, 140);
}
@keyframes jQuery-fill {
  100% {
    width: 91%;
  }
}

/* cards */
.aboutus-hover-cards {
  height: 18rem !important;
  transition: background-color 0.2s;
}

.aboutus-hover-cards .icon {
  color: #fff;
  font-size: 5rem;
}

.aboutus-hover-cards .aboutus-cards-body {
  padding: 30px;
  transition: color 0.2s;
}
.aboutus-text {
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.aboutus-card-title {
   color: #fff;
}

.aboutus-hover-cards .aboutus-text {
  color: #fff;
  display: none;
}

.aboutus-hover-cards:hover .aboutus-cards-body {
  color: #fff;
}

.aboutus-hover-cards:hover .aboutus-text {
  display: block;
}

.aboutus-our-cards1 {
  background-color: #cad1d9;
}

.aboutus-our-cards1:hover {
  background-color: #00d3f3;
  cursor: pointer;
}

.aboutus-our-cards2 {
  background-color: #abb2bc;
}

.aboutus-our-cards2:hover {
  background-color: #00d3f3;
  cursor: pointer;
}

/* circles-cards */
.circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.inner-circle {
  width: 100px;
  height: 100px;
  border: 8px solid #e6e9ee;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 30px;
  color: black;
  margin-bottom: 20px !important;
}

.inner-circle:hover {
  border: 8px solid #00d3f3;
  color: #00d3f3;
  cursor: pointer;
}

/* section-3 */
.slicksection {
  overflow: hidden;
}

.about-effect-box{
  position: relative;
  overflow: hidden;
}

.about-effect-box img {
  width: 100%;
  transition: 0.5s ease;
}
.about-effect-box:hover img {
  transform: scale(1.1);
}
.about-effect-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 4rem;
  opacity: 0;
  transition: 0.5s ease;
  background-color :rgba(0, 0, 0, 0.7);
  color:white;
  cursor:pointer;
  
}
.about-effect-box:hover .about-effect-layer {
  opacity: 1;
}

/* experience */
.experience-background{
  background-color: #24262a;
}
.main-home-experience {
  height: 60vh;
  padding: 0 60px;
}
@media screen and (max-width: 992px) {
  .main-home-experience {
    height: auto;
    padding: 0px;
    padding-top: 30px;
  }
}
.main-home-exp-heading {
  font-size: 47px;
  line-height: 49px;
  font-weight: 700;
  color: #3b6d6e;
}
.main-home-exp-paragraph {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: #656d78;
}
.main-home-exp-paragraph1 {
  line-height: 26px;
  color: #848892;
  font-size: 16px;
  font-weight: 400;
}



