.blogbanner-vdeo{
width: 100%;
object-fit: cover;
height: 650px;
}
/* new-css */
.second-blog-section{
  background-color: #24262a;
}
ul.blog-section-menu li {
  display: inline-block;
  padding-right: 3%;
}
li.blog-item {
  cursor: pointer;
  font-size: 18px;
  color:white;
  font-weight: 500;
}
li.blog-item.active {
  color: #00d3f3;
}
.content {
  display: none;
}

.show-content {
  color:black;
}
.blog-section-card {
  box-shadow: 4px 4px 8px 2px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.blog-shade-image {
  border-radius: 2px;
  background-color: white;
  padding: 38px 42px 47px;
  box-shadow: 4px 4px 8px 2px rgba(0, 0, 0, 0.1);
}
.blog-content-heading{
  font-size: 60px;
}
@media screen and (max-width:768px) {
  .blog-content-heading{
    font-size: 30px;
  }
}
.blog-ordered-item{
  list-style-type: decimal;
  color:#848892 ;
}



