/* Home.css */
.slider-img {
  height: 600px;
  object-fit: cover;
  width: 100%;
}
.custom-carousel {
  max-height: 600px;
}

.slider-caption {
  text-align: center;
  margin-bottom: 200px;
}

/* cards css */

.custom-card-container {
  display: flex;
  height: 100%;
}

.custom-card {
  background-color: #f8f9fa; /* Set the background color */
  border: none;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  text-align: center;
}
.custom-card .card-title {
  font-size: 1.5rem;
  font-weight: bold;
}
.custom-card .card-text {
  font-size: 1rem;
}
.custom-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}
.home-cards {
  margin-top: 7rem !important;
  margin-bottom: 10rem;
}

/* progress bar */

.page-container {
  background-color: #180d5b;
}

.homeimg1 {
  margin-left: 30rem;
  margin-top: 5rem;
}

.home-box {
  background-color: #fafafa;
  padding: 3rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.home-box-img {
  margin-bottom: -40rem;
}

.skill-bar {
  width: 100%;

  margin: 20px 0;
}

.skill-bar .info {
  margin-bottom: 5px;
}

.skill-bar .info span {
  font-size: 15px;

  font-weight: 600;

  opacity: 0;

  animation: showText 0.5s 1s linear forwards;
}

@keyframes showText {
  100% {
    opacity: 1;
  }
}

.skill-bar .progress-line {
  height: 10px;

  width: 80%;

  background: #f6ebfa;

  position: relative;

  border-radius: 10px;

  transform: left;

  transform: scaleX(0);

  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.progress-line span {
  height: 100%;

  width: 80%;

  background-image: linear-gradient(220deg, #07b787 0%, #7ed500 100%);

  position: absolute;

  border-radius: 10px;

  transform: left;

  transform: scaleX(0);

  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}

.progress-line.html span {
  width: 100%;
}

.progress-line.css span {
  width: 90%;
}

.progress-line.bootstrap span {
  width: 92%;
}

.progress-line.javascript span {
  width: 95%;
}

.progress-line.reactjs span {
  width: 94%;
}

.progress-line.figma span {
  width: 99%;
}

.progress-line span::before {
  position: absolute;

  content: "";

  top: -10px;

  right: 0;

  height: 0;

  width: 0;

  border: 7px solid transparent;

  border-bottom-width: 0px;

  border-right-width: 0px;

  border-top-color: white;

  opacity: 0;

  animation: showText 0.5s 1.5s linear forwards;
}

.progress-line span::after {
  position: absolute;

  top: -30px;

  right: 0;

  background-color: white;

  color: #000;

  font-size: 12px;

  font-weight: 500;

  padding: 2px 8px;

  border-radius: 3px;

  opacity: 0;

  animation: showText 0.5s 1.5s linear forwards;
}

@keyframes showText {
  100% {
    opacity: 1;
  }
}

.progress-line.html span::after {
  content: "100%";
}

.progress-line.css span::after {
  content: "90%";
}

.progress-line.bootstrap span::after {
  content: "92%";
}

.progress-line.javascript span::after {
  content: "95%";
}

.progress-line.reactjs span::after {
  content: "94%";
}

.progress-line.figma span::after {
  content: "99%";
}

@media screen and (max-width: 768px) {
  .page-container {
    display: none;
  }
  .home-box1 {
    margin-bottom: 20px;
    padding-top: 30rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .home-box {
    margin-top: 40rem;
    padding-left: 1rem !important;
  }
  .custom-card {
    margin-bottom: 15px;
  }
}
























.avatar-heading {
  font-weight: 500;
  margin-bottom: 20px;
  color: #3b6d6e;
  font-size: 20px;
}
.avatar-paragraph {
  font-size: 15px;
  color: #848892;
  font-weight: 400;
}
.avatar-section {
  padding: 40px 40px 40px 40px;
  background-color: #fff;
  box-shadow: 0 28px 40px 0 rgba(0, 0, 0, 0.1);
}

.avatar-section:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.avatar-section:hover .avatar-profile-title {
  color:#6EC1E4;
}

.avatar-image {
  width: 100%;
  height: 100%;
  margin-bottom: 38px;
}
.avatar-image img {
  width: 100%;
  height: 100%;
  border-radius: 50% 50% 50% 50%;
}
.avatar-profile-title {
  margin-bottom: 10px;
  font-size: 22px;
  color: #000;
  text-align: center;
}
.avatar-profile-designation {
  color: rgba(0, 0, 0, 0.5);
  font-size: 13px;
  text-align: center;
  margin-bottom: 34px;
}
.main-container{
    padding: 0px 100px;
    margin-top: 12rem;
}
@media screen and (max-width:992px) {
    .main-container{
     padding:0px;
    }
}
.rating{
    margin-top: 7rem !important;
}
.rating-heading{
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 500;
    text-align: center;
}
.rating-section {
    background-color: #ffffff;
    box-shadow: 0px 28px 40px 0px rgba(0, 0, 0, 0.1);
    padding: 60px 10px 60px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 4rem;
    position: relative;
  }
  .rating-section::before{
    position: absolute;
    content: "";
    bottom: -15px;
    left: 0;
    height: 5px;
    width: 100%;
    background-color: #53f995;
  }
.rating-content{
    color: #333333;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 12px;
}
.super{
    font-size:30px;
    color: #2575fc;
    top: -5px;
    left: 0px;
    vertical-align: super;
}
.rating-title {
    margin-bottom: 0px;
    color: #808080;
    font-size: 15px;
}
.animated-cards{
    margin-top: 7rem !important;
}

.animated-card-content{
    width: 100%;
    height: 100%;
    background: #8a35ff;
    color: #fff;
    border-radius: 5px;
    padding: 30px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.animated-card-heading{
    font-size: 30px;
    font-weight: 500;
}
.experience-part{
  margin-top: 7rem !important;  
}
.experience-content{
    border-style: solid;
    border-width: 0px 0px 0px 5px;
    border-color: #ffcc03;
    box-shadow: 29px 29px 60px 0px rgba(0,0,0,0.2);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 60px 60px 60px 60px;
}
.experience-heading{
    margin: 0px 0px 25px 0px;
    font-size: 36px;
    font-weight: 700;
    color: #3b6d6e;
}
.experience-higlight{
    color: #ffcc03;
    font-size: 36px;
    font-weight: 700;
}
.knowledge-part{
    margin-top: 7rem !important;
}
.knowledge-heading{
  color: #000000;
  font-weight: 500;
  text-align: center;
  font-size: 30px;
}
.knowledge-paragraph{
    color: #7A7A7A;
}
.home-slider{
  margin-top: 7rem !important;
}
.swipper-slide{
  flex-shrink: 0;
  height: 100%;
  position: relative;
}
.testimonial-slider{
  background-color: transparent;
  background-image: linear-gradient(-35deg, #f2709c 0%, #fe8f75 100%);
  border-radius: 10px 10px 10px 10px;
  margin: 0px 0px 110px 0px;
  padding: 40px 25px 60px 25px;
}
.testimonial-slider:before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: inherit;
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    z-index: -1;
}
.avatar-slider{
  bottom: -98px;
  position: absolute;
  left: 0;
  width: 100%;
}
.avatar1-image{
  margin-bottom:10rem;
}
.avatar1-image img{
  height: 80px;
  width: 80px;
  border-style: solid;
  border-width: 5px 5px 5px 5px;
  border-color: #ffffff;
  box-shadow: 20px 20px 40px 0px rgba(0,0,0,0.1);
  border-radius: 50% 50% 50% 50%;
  margin: auto;
}
.slider-heading{
  color: #3b6d6e;
  font-size: 20px;
  margin-bottom: 50px;
  font-weight: 500;
}
.home-slider1{
  margin-top: 5rem !important;
}
.main-container{
  margin-top: 5rem;
}
@media screen and (max-width: 576px) {
  .carousel1{
    display: none;
  }
}


