.gif-service-container{
  position: relative;
  width: 100%;
}

.service-home-gif{
width: 100%;
object-fit: cover;
height: 700px;
}
.content-overlay2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 10px;
  font-size: 60px;
  font-weight: 700;
}
@media screen and (max-width:768px) {
  .content-overlay2{
    font-size: 40px;
    }
  }

.some-cards2 {
  background-color: #24262a !important;
  margin-bottom: -2rem;
}

.custom-card2 {
  border: none !important;
  position: relative;
  overflow: hidden;
  animation: reverse;
  top: 0;
  left: 0;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem !important;
}
.service-para {
  font-family: cursive;
  font-size: small;
  font-style: italic;
  color: silver;
  text-decoration: none;
}

.service-overlay1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3b6d6e;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0; /* Initially hidden */
  transition: opacity 0.15s ease-in;
  transition: height 0.3s, transform 0.3s;
  transition-property: color;
  /* z-index: 3; */
  cursor: pointer;
  transform: translateY(100%);
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
}

.custom-card2:hover .service-overlay1 {
  opacity: 1;
  transform: translateY(0);
}

.service1 {
  text-align: center;
  color: white;
}
.some-img2 {
  margin-bottom: -32px;
}

.our-cardgroup1 {
  margin-bottom: 1rem;
}
.our-cardgroup2 {
  margin-bottom: 2rem !important;
}
.services-content-heading{
  font-size: 60px;
}
@media screen and (max-width:768px) {
  .services-content-heading{
    font-size: 30px;
  }
}

/* new-code */
.services-second-section{
  background-color: #24262a !important;
}

.services-image1-section{
  background-color: white;
  padding: 93px;
}

@media screen and (max-width:1350px) {
  .services-image1-section{
    padding:60px;
  }
}
@media screen and (max-width:1200px) {
  .services-image1-section{
    padding:40px;
  }
}
@media screen and (max-width:1100px) {
  .services-image1-section{
    padding:30px;
  }
}
@media screen and (max-width:900px) {
  .services-image1-section{
    padding:20px;
  }
}
@media screen and (max-width:768px) {
  .services-image1-section{
    padding:93px;
  }
}
@media screen and (max-width:576px) {
  .services-image1-section{
    padding:50px;
  }
}

.services-effect-box{
  position: relative;
  overflow: hidden;
}

.services-effect-box img {
  width: 100%;
  transition: 0.5s ease;
}
.services-effect-box:hover img {
  transform: scale(1.1);
}
.services-effect-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 4rem;
  opacity: 0;
  transition: 0.5s ease;
  background-color :rgba(0, 0, 0, 0.4);
  color:white;
  cursor:pointer;
  
}
.services-effect-box:hover .services-effect-layer {
  opacity: 1;
}
.secvices-icon1{
  color: #cad1d9;
  font-size: 4rem;
  display: flex;
  justify-content: center;
}
.secvices-icon2{
  color: #cad1d9;
  font-size: 5rem;
  display: flex;
  justify-content: center;
}
@media screen and (max-width:1050px) {
  .secvices-icon2{
    font-size: 2rem;
  }
}
@media screen and (max-width:1050px) {
  .secvices-icon1{
    font-size: 2rem;
  }
}
@media screen and (max-width:768px) {
  .secvices-icon1{
    font-size: 5rem;
  }
}
@media screen and (max-width:768px) {
  .secvices-icon2{
    font-size:5rem;
  }
}
@media screen and (max-width:576px) {
  .secvices-icon1{
    font-size:3rem;
  }
}
@media screen and (max-width:576px) {
  .secvices-icon2{
    font-size:3rem;
  }
}

/* _new-code */
.services-second-section{
  background-color: #24262a !important;
}
.services-button-section{
  background-color: #3b6d6e !important;
  border: none !important;
}

